<div >

  <div class="titlebar titlebar-sm scheme-light text-center" data-parallax="true" data-parallax-options='{ "parallaxBG": true }' style="background-color:#f7f8fb;">

    <div class="titlebar-overlay ld-overlay"></div>

    <div class="titlebar-inner pt-50 pb-210">
      <div class="container titlebar-container">
        <div class="row titlebar-container">
          <div class="titlebar-col col-md-12">
            <h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 80, "minFontSize": 32 }' style="color: #414a4c">Contact Us</h1>
            <ol class="breadcrumb reset-ul inline-nav comma-sep-li" style="color: #414a4c;">
              <li class="breadcrumb-item"><a href="#"><span>Home</span></a></li>
              <li class="breadcrumb-item active"><span>Contact</span></li>
            </ol>
          </div><!-- /.titlebar-col -->
        </div><!-- /.titlebar-row -->
      </div><!-- /.titlebar-container -->
    </div><!-- /.titlebar-inner -->

  </div><!-- /.titlebar -->

  <main id="content" class="content bg-gray">

    <section class="vc_row" >
      <div class="container">
        <div class="row">

          <div class="lqd-column col-md-12 px-4 pt-45 pb-30 bg-white box-shadow-1 pull-up">

            <div class="row d-flex flex-wrap align-items-center">

              <div class="lqd-column col-md-6 col-md-offset-1">

                <header class="fancy-title">
                  <h2>{{formheading}}</h2>
                  <p>{{subheading}}</p>
                </header><!-- /.fancy-title -->

              </div><!-- /.lqd-column col-md-6 col-md-offset-1 -->

              <div class="lqd-column col-md-4 hidden-sm hidden-xs text-right">

                <div class="iconbox text-right iconbox-xl" data-animate-icon="true" data-plugin-options='{"resetOnHover":true,"color":"rgb(216, 219, 226)","hoverColor":"rgb(0, 0, 0)"}'>
                  <div class="iconbox-icon-wrap">
											<span class="iconbox-icon-container">
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="1,30 63,1 23,41" /> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="34,63 63,1 23,41" /> </svg>
											</span>
                  </div><!-- /.iconbox-icon-wrap -->
                </div><!-- /.iconbox -->
              </div><!-- /.lqd-column col-md-4 hidden-sm hidden-xs -->

            </div><!-- /.row -->

<!--  ----------------- Form --------------- -->
            <div class="row">

              <div class="lqd-column col-md-10 col-md-offset-1">

                <div class="contact-form contact-form-inputs-underlined contact-form-button-circle">

                  <form #enquiryForm="ngForm" (ngSubmit)="formSubmit(enquiryForm);" novalidate="novalidate" id="queryForm" >
                    <div class="row d-flex flex-wrap">
                      <div class="lqd-column col-md-6 mb-20">
                        <input class="lh-25 mb-30" [class.has-error]="name.invalid && name.touched" type="text" #name="ngModel" name="name" ngModel aria-required="true" aria-invalid="false" placeholder="Name" required>
                        <span class="help-block" *ngIf="name.invalid && name.touched" style="color:red;"><small>fullname required</small></span>
                        <input class="lh-25 mb-30" type="email" name="email" ngModel aria-required="true" aria-invalid="false" placeholder="Your email address" required>
                        <input class="lh-25 mb-30" type="tel" name="phone" ngModel aria-required="true" aria-invalid="false" placeholder="Mobile no" required>

                      </div><!-- /.col-md-6 -->
                      <div class="lqd-column col-md-6 mb-20">
                        <textarea cols="10" rows="6" name="message" ngModel aria-required="true" aria-invalid="false" placeholder="Message" required></textarea>
                      </div><!-- /.col-md-12 -->
                      <div class="lqd-column col-md-6">
                        <p class="font-size-16 opacity-07"><em>We all know how important your information is. They are always safe with us.</em></p>
                      </div><!-- /.col-md-6 -->
                      <div class="lqd-column col-md-6 text-md-right">
                        <input type="submit" value="Send message" class="font-size-13 ltr-sp-1 font-weight-bold">
                      </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                  </form>
                  <div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
                </div><!-- /.contact-form -->

              </div><!-- /.col-md-10 col-md-offset-1 -->

            </div><!-- /.row -->

          </div><!-- /.lqd-column col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>

    <section class="vc_row pt-90 pb-60">
      <div class="container">
        <div class="row">

          <div class="lqd-column col-md-10 col-md-offset-1">

            <div class="row">

              <div class="lqd-column col-md-6 col-sm-8 col-md-offset-1" style="margin-left: 0px;">
                <div class="box-shadow-1 pull-up" style="width: 100%;">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.3227832070825!2d81.64976921547209!3d21.21904518589556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28dd0a4a53dc73%3A0xdd9e9b811985b826!2sElite%20Kuche%20%7C%20Modular%20kitchen%20in%20raipur!5e0!3m2!1sen!2sin!4v1608025346295!5m2!1sen!2sin" width="750" height="280" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>

              </div><!-- /.lqd-column col-md-3 col-sm-8 -->

              <div class="lqd-column col-md-3 col-sm-8 col-md-offset-1">

                <h2 class="font-size-24 font-weight-bold"><small><i class="icon-liquid_map_pin mr-2 fa-1x"></i></small> Raipur</h2>
                <p class="font-size-14">New Dhamtari road, Pachpedi Naka, Raipur (Chhattisgarh)</p>
                <hr class="w-30 ml-0 border-color-primary">
                <p class="font-size-18"><a href="tel:+91 92000-01777">+91 92000-01777</a><br> <a href = "mailto: elitekucheraipur@gmail.com">elitekucheraipur@gmail.com</a></p>

              </div><!-- /.lqd-column col-md-3 col-sm-8 -->

            </div><!-- /.row -->

          </div><!-- /.lqd-column col-md-10 col-md-offset-1 -->

        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>

  </main><!-- /#content.content -->

<app-footer></app-footer>
</div><!-- /#wrap -->
