<footer class="main-footer bg-charade pt-15 py-15 mt-25 mb-0">
            <!-- PUT MODAL POPUP CONTENTS ANYWHERE IN THE PAGE -->
            <div id="modal-1" class="lqd-modal lity-hide">
              <div class="lqd-modal-inner">

                <div class="lqd-modal-head"></div><!-- /.lqd-modal-head -->

                <div class="lqd-modal-content">

                  <div class="row">

                    <div class="lqd-column col-md-12 px-4 pt-45 pb-30">

                      <div class="row d-flex flex-wrap align-items-center">

                        <div class="lqd-column col-md-6 col-md-offset-1">

                          <header class="fancy-title">
                            <h2>Request a Catalogue</h2>
                            <p>We are here to answer any question you may have</p>
                          </header><!-- /.fancy-title -->

                        </div><!-- /.lqd-column col-md-6 col-md-offset-1 -->

                        <div class="lqd-column col-md-4 hidden-sm hidden-xs text-right">

                          <div class="iconbox text-right iconbox-xl" data-animate-icon="true" data-plugin-options='{"resetOnHover":true,"color":"rgb(216, 219, 226)","hoverColor":"rgb(0, 0, 0)"}'>
                            <div class="iconbox-icon-wrap">
																<span class="iconbox-icon-container">
																	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="1,30 63,1 23,41" /> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="34,63 63,1 23,41" /> </svg>
																</span>
                            </div><!-- /.iconbox-icon-wrap -->
                          </div><!-- /.iconbox -->
                        </div><!-- /.lqd-column col-md-4 hidden-sm hidden-xs -->

                      </div><!-- /.row -->

                      <div class="row">

                        <div class="lqd-column col-md-10 col-md-offset-1">

                          <div class="contact-form contact-form-inputs-underlined contact-form-button-circle">
                            <form action="assets/php/mailer.php" method="post" novalidate="novalidate">
                              <div class="row d-flex flex-wrap">
                                <div class="lqd-column col-md-6 mb-20">
                                  <input class="lh-25 mb-30" type="text" name="name" aria-required="true" aria-invalid="false" placeholder="Full Name" required>
                                  <input class="lh-25 mb-30" type="email" name="email" aria-required="true" aria-invalid="false" placeholder="Your email address" required>
                                  <input class="lh-25 mb-30" type="tel" name="mobile" aria-required="true" aria-invalid="false" placeholder="Mobile no" required>
                                </div><!-- /.col-md-6 -->

                                <div class="lqd-column col-md-6">
                                  <p class="font-size-16 opacity-07"><em>We all know how important your information is. They are always safe with us.</em></p>
                                </div><!-- /.col-md-6 -->
                                <div class="lqd-column col-md-6 text-md-right">
                                  <input type="submit" value="Send message" class="font-size-13 ltr-sp-1 font-weight-bold">
                                </div><!-- /.col-md-6 -->
                              </div><!-- /.row -->
                            </form>
                            <div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
                          </div><!-- /.contact-form -->

                        </div><!-- /.col-md-10 col-md-offset-1 -->

                      </div><!-- /.row -->

                    </div><!-- /.lqd-column col-md-12 -->

                  </div><!-- /.row -->

                </div><!-- /.lqd-modal-content -->

                <div class="lqd-modal-foot"></div><!-- /.lqd-modal-foot -->

              </div><!-- /.lqd-modal-inner -->
            </div><!-- /.lqd-modal -->

            <!-- PUT MODAL POPUP CONTENTS ANYWHERE IN THE PAGE -->
            <div id="modal-2" class="lqd-modal lity-hide">
              <div class="lqd-modal-inner">

                <div class="lqd-modal-head"></div><!-- /.lqd-modal-head -->

                <div class="lqd-modal-content">

                  <div class="row">

                    <div class="lqd-column col-md-12 px-4 pt-45 pb-30">

                      <div class="row d-flex flex-wrap align-items-center">

                        <div class="lqd-column col-md-6 col-md-offset-1">

                          <header class="fancy-title">
                            <h2>Subscribe to our Newsletter</h2>
                            <p>Why refuse something that's free?</p>
                          </header><!-- /.fancy-title -->

                        </div><!-- /.lqd-column col-md-6 col-md-offset-1 -->

                        <div class="lqd-column col-md-4 hidden-sm hidden-xs text-right">

                          <div class="iconbox text-right iconbox-xl" data-animate-icon="true" data-plugin-options='{"resetOnHover":true,"color":"rgb(216, 219, 226)","hoverColor":"rgb(0, 0, 0)"}'>
                            <div class="iconbox-icon-wrap">
																<span class="iconbox-icon-container">
																	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="1,30 63,1 23,41" /> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="34,63 63,1 23,41" /> </svg>
																</span>
                            </div><!-- /.iconbox-icon-wrap -->
                          </div><!-- /.iconbox -->
                        </div><!-- /.lqd-column col-md-4 hidden-sm hidden-xs -->

                      </div><!-- /.row -->

                      <div class="row">

                        <div class="lqd-column col-md-10 col-md-offset-1">

                          <div class="contact-form contact-form-inputs-underlined contact-form-button-circle">
                            <form action="assets/php/mailer.php" method="post" novalidate="novalidate">
                              <div class="row d-flex flex-wrap">
                                <div class="lqd-column col-md-6 mb-20">

                                  <input class="lh-25 mb-30" type="email" name="email" aria-required="true" aria-invalid="false" placeholder="Your email address" required>

                                </div><!-- /.col-md-6 -->

                                <div class="lqd-column col-md-6">
                                  <p class="font-size-16 opacity-07"><em>We all know how important your information is. They are always safe with us.</em></p>
                                </div><!-- /.col-md-6 -->
                                <div class="lqd-column col-md-6 text-md-right">
                                  <input type="submit" value="Send message" class="font-size-13 ltr-sp-1 font-weight-bold">
                                </div><!-- /.col-md-6 -->
                              </div><!-- /.row -->
                            </form>
                            <div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
                          </div><!-- /.contact-form -->

                        </div><!-- /.col-md-10 col-md-offset-1 -->

                      </div><!-- /.row -->

                    </div><!-- /.lqd-column col-md-12 -->

                  </div><!-- /.row -->

                </div><!-- /.lqd-modal-content -->

                <div class="lqd-modal-foot"></div><!-- /.lqd-modal-foot -->

              </div><!-- /.lqd-modal-inner -->
            </div><!-- /.lqd-modal -->

            
  <section>

    <div class="container">
      <div class="row">

        <div class="lqd-column col-md-4 col-sm-6">

          <!-- <h3 class="widget-title text-white">Company</h3> -->
          <!-- <ul class="lqd-custom-menu reset-ul text-white">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Pricing</a></li>
          </ul> -->

          <div class="lqd-column col-sm-6 mb-3 mb-md-0">
            <a href="#modal-1" class="btn btn-default text-uppercase btn-sm circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2" data-lity="#modal-1">
              <span>
                <span class="btn-txt">Request Catalog</span>
              </span>
            </a>
          </div><!-- /.col-sm-6 -->

        </div><!-- /.col-md-3 col-sm-6 -->

        <div class="lqd-column col-md-4 col-sm-6">
          <!-- <div class="lqd-column col-sm-6 mb-3 mb-md-0"> -->
            <a href="#modal-2" class="btn btn-default text-uppercase btn-sm circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2" data-lity="#modal-2">
              <span>
                <span class="btn-txt">Subscribe to Newsletter</span>
              </span>
            </a>

            <!-- <a href="#modal-2" class="btn btn-solid text-uppercase circle btn-bordered border-thin font-size-14 font-weight-semibold" data-lity="#modal-2" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>
                  <span>
                    <span class="btn-txt">Subscribe to Newsletter</span>
                  </span>
            </a> -->
          <!-- </div>/.col-sm-6 -->
        </div><!-- /.col-md-3 col-sm-6 -->

      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section>
    <div class="container">
       <h3 class="widget-title text-white" style="align: center;">Reach us:</h3>
      <div class="row">

          <p class="col col-sm-12 col-md-4">
            E-mail:
            <a href = "mailto: elitekucheraipur@gmail.com">elitekucheraipur@gmail.com</a>
          </p>
            <p class="col col-sm-12 col-md-4">Address:
              New Dhamtari road, Pachpedi Naka, Raipur (Chhattisgarh)
            </p>
            <p class="col col-sm-12 col-md-4">Phone:
              <a href="tel:+91 92000-01777">+91 92000-01777</a>
            </p>
      </div>
    </div>
  </section>

  <section class="bt-fade-white-015 pt-15 pb-15 mt-10 mb-0">
    <div class="container">
      <div class="row">

        <div class="lqd-column col-md-6">

          <ul class="lqd-custom-menu reset-ul inline-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Location on Map</a></li>
            <!-- <li><a href="#">Community</a></li> -->
          </ul>

        </div><!-- /.col-md-6 -->

        <div class="lqd-column col-md-6 text-md-right" >
          <p class="my-0"><span style="font-size: 15px;">© 2019 Ave theme. Made with love.</span></p>
        </div><!-- /.col-md-6 text-md-right -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

</footer><!-- /.main-footer -->
