<main id="content" class="content">

  <section class="vc_row pt-50">

    <div class="lqd-custom-menu lqd-sticky-menu"
         data-pin="true"
         data-pin-options='{ "offset": "[data-sticky-header] .mainbar-wrap.is-stuck", "duration": "last-link", "pushFollowers": false }'
    >
      <ul class="reset-ul inline-nav text-center">
        <li><a href="#laminate" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Laminate</a></li>
        <li><a href="#acrylic" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Acrylic</a></li>
        <li><a href="#polyutherane" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Polyutherane</a></li>
        <li><a href="#fenix" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Fenix</a></li>
        <li><a href="#glass" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Backpainted glass</a></li>
        <li><a href="#solidwood" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Solid wood</a></li>
      </ul>
    </div><!-- /.lqd-custom-menu -->
  </section>

<!--  ***** Laminate ***** -->
  <section id="laminate" class="vc_row pt-50">
    <section class="vc_row pt-100 pb-80 bg-light">

      <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

          <div
            class="lqd-column col-lg-5"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              <strong>Elite</strong> smart<br>
<!--               Laminate-->
            </h2>

            <p class="pr-7 mr-7 mb-60">Laminate: Kitchens with front shutters finished with high quality smart laminate. The machine pressed laminate with multiple layers helps to achieve the improved strength, stability and appearance of the front finish.</p>

          </div><!-- /.col-lg-4 -->

          <div class="lqd-column col-lg-6 col-lg-offset-1">

            <div class="liquid-img-group-container stretch-to-right">
              <div class="liquid-img-group-inner">
                <div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
<!--                  <span class="liquid-img-group-url"><span>http://</span>ave.com/</span>-->
                  <div class="liquid-img-group-img-container">
<!--                    <div class="liquid-img-group-content content-floated-mid-left">-->
<!--                      <a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase btn-gradient fresco btn-icon-block btn-icon-top btn-icon-xlg btn-icon-circle btn-icon-solid font-size-13 text-dark">-->
<!--													<span>-->
<!--														<span class="btn-txt">See how it works</span>-->
<!--														<span class="btn-icon bg-primary font-size-24"><i class="fa fa-play"></i></span>-->
<!--													</span>-->
<!--                      </a>-->
<!--                    </div>&lt;!&ndash; /.liquid-img-group-content &ndash;&gt;-->
                    <div class="liquid-img-container-inner">
                      <figure data-responsive-bg="true">
                        <img src="./assets/img/kitchen/laminate%2011%20(Medium).jpg" alt="Ave" />
                      </figure>
                    </div><!-- /.liquid-img-container-inner -->
                  </div><!-- /.liquid-img-group-img-container -->
                </div><!-- /.liquid-img-group-single -->
              </div><!-- /.liquid-img-group-inner -->
            </div><!-- /.liquid-img-group-container -->

          </div><!-- /.col-lg-6 col-lg-offset-1 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </section>

<!--    carousel start-->
    <div class="pt-20 container-fluid">
      <div class="row">

        <div class="lqd-column col-md-12">

          <div  class="carousel-container carousel-shadow-active carousel-nav-left carousel-nav-md carousel-dots-style1">
            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":true}'>

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%20(1)%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%20(2)%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%20(3)%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%204%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%205%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%2010%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%2044%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

            </div><!-- /.carousel-items -->
          </div><!-- /.carousel-container -->

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

<hr style="margin-top: 35px;margin-bottom: 10px;">

  <!--  ***** Acrylic *****-->
  <section id="acrylic" class="vc_row pt-50">
    <section class="vc_row pt-70 pb-50 bg-light">

      <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

          <div class="lqd-column col-lg-6 col-lg-offset-1">

            <div class="liquid-img-group-container stretch-to-left">
              <div class="liquid-img-group-inner">
                <div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
                  <!--                  <span class="liquid-img-group-url"><span>http://</span>ave.com/</span>-->
                  <div class="liquid-img-group-img-container">
                    <!--                    <div class="liquid-img-group-content content-floated-mid-left">-->
                    <!--                      <a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase btn-gradient fresco btn-icon-block btn-icon-top btn-icon-xlg btn-icon-circle btn-icon-solid font-size-13 text-dark">-->
                    <!--													<span>-->
                    <!--														<span class="btn-txt">See how it works</span>-->
                    <!--														<span class="btn-icon bg-primary font-size-24"><i class="fa fa-play"></i></span>-->
                    <!--													</span>-->
                    <!--                      </a>-->
                    <!--                    </div>&lt;!&ndash; /.liquid-img-group-content &ndash;&gt;-->
                    <div class="liquid-img-container-inner">
                      <figure data-responsive-bg="true">
                        <img src="./assets/img/kitchen/acrylic%204%20(Medium).jpg" alt="Ave" style="max-height: 710px;" />
                      </figure>
                    </div><!-- /.liquid-img-container-inner -->
                  </div><!-- /.liquid-img-group-img-container -->
                </div><!-- /.liquid-img-group-single -->
              </div><!-- /.liquid-img-group-inner -->
            </div><!-- /.liquid-img-group-container -->

          </div><!-- /.col-lg-6 col-lg-offset-1 -->

          <div
            class="lqd-column col-lg-5"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              <strong>Elite</strong> elegant<br>
<!--              Acrylic-->
            </h2>

            <p class="pr-7 mr-7 mb-60">Acrylic: Kitchens with acrylic front always have an elegant seamless look and smooth appearance. Acrylic adds a gloss effect to the beauty of the kitchen space.</p>

          </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </section>
    <!--    carousel start-->
    <div class="pt-20 container-fluid">
      <div class="row">

        <div class="lqd-column col-md-12">

          <div  class="carousel-container carousel-shadow-active carousel-nav-left carousel-nav-md carousel-dots-style1">
            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":true}'>

<!--              <div class="carousel-item col-md-6">-->
<!--                <figure>-->
<!--                  <img src="./assets/img/kitchen/acrylic%204%20(Medium).jpg" alt="Carousel Item">-->
<!--                </figure>-->
<!--              </div>&lt;!&ndash; /.carousel-item &ndash;&gt;-->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/acrlic%2044%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/acrylic%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/acrylic%202%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%205%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%2010%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/laminate%2044%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

            </div><!-- /.carousel-items -->
          </div><!-- /.carousel-container -->

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

  <hr style="margin-top: 35px;margin-bottom: 10px;">

<!--  ***** PU *****-->
  <section id="polyutherane" class="vc_row pt-50">
    <section class="vc_row pt-100 pb-80 bg-light">

      <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

          <div
            class="lqd-column col-lg-5"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              <strong>Elite</strong> classic <br>
<!--              <strong>good</strong> business-->
            </h2>

            <p class="pr-7 mr-7 mb-60">Polyurethane or PU: Kitchens with Polyurethane coated shutters gives a unique classic rich look to the ambience. These are available with variety of designs to settle in with your beautiful interior with your desired finish and form.</p>

          </div><!-- /.col-lg-4 -->

          <div class="lqd-column col-lg-6 col-lg-offset-1">

            <div class="liquid-img-group-container stretch-to-right">
              <div class="liquid-img-group-inner">
                <div class="liquid-img-group-single " data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
<!--                  <span class="liquid-img-group-url"><span>http://</span>ave.com/</span>-->
                  <div class="liquid-img-group-img-container">
<!--                    <div class="liquid-img-group-content content-floated-mid-left">-->
<!--                      <a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase btn-gradient fresco btn-icon-block btn-icon-top btn-icon-xlg btn-icon-circle btn-icon-solid font-size-13 text-dark">-->
<!--													<span>-->
<!--														<span class="btn-txt">See how it works</span>-->
<!--														<span class="btn-icon bg-primary font-size-24"><i class="fa fa-play"></i></span>-->
<!--													</span>-->
<!--                      </a>-->
<!--                    </div>&lt;!&ndash; /.liquid-img-group-content &ndash;&gt;-->
                    <div class="liquid-img-container-inner">
                      <figure data-responsive-bg="true">
                        <img src="./assets/img/kitchen/PU%20(2)%20(Medium).jpg" alt="Ave" />
                      </figure>
                    </div><!-- /.liquid-img-container-inner -->
                  </div><!-- /.liquid-img-group-img-container -->
                </div><!-- /.liquid-img-group-single -->
              </div><!-- /.liquid-img-group-inner -->
            </div><!-- /.liquid-img-group-container -->

          </div><!-- /.col-lg-6 col-lg-offset-1 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </section>

    <!--    carousel start-->
    <div class="pt-20 container-fluid">
      <div class="row">

        <div class="lqd-column col-md-12">

          <div  class="carousel-container carousel-shadow-active carousel-nav-left carousel-nav-md carousel-dots-style1">
            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":true}'>

              <!--              <div class="carousel-item col-md-6">-->
              <!--                <figure>-->
              <!--                  <img src="./assets/img/kitchen/acrylic%204%20(Medium).jpg" alt="Carousel Item">-->
              <!--                </figure>-->
              <!--              </div>&lt;!&ndash; /.carousel-item &ndash;&gt;-->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/PU%20(2)%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/PU%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/PU%20(2)%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

            </div><!-- /.carousel-items -->
          </div><!-- /.carousel-container -->

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

  <hr style="margin-top: 35px;margin-bottom: 10px;">

<!--  ***** fenix  ***** -->
  <section id="fenix" class="vc_row pt-50">
    <section class="vc_row pt-70 pb-50 bg-light">

      <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

          <div class="lqd-column col-lg-6 col-lg-offset-1">

            <div class="liquid-img-group-container stretch-to-left">
              <div class="liquid-img-group-inner">
                <div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
                  <!--                  <span class="liquid-img-group-url"><span>http://</span>ave.com/</span>-->
                  <div class="liquid-img-group-img-container">
                    <!--                    <div class="liquid-img-group-content content-floated-mid-left">-->
                    <!--                      <a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase btn-gradient fresco btn-icon-block btn-icon-top btn-icon-xlg btn-icon-circle btn-icon-solid font-size-13 text-dark">-->
                    <!--													<span>-->
                    <!--														<span class="btn-txt">See how it works</span>-->
                    <!--														<span class="btn-icon bg-primary font-size-24"><i class="fa fa-play"></i></span>-->
                    <!--													</span>-->
                    <!--                      </a>-->
                    <!--                    </div>&lt;!&ndash; /.liquid-img-group-content &ndash;&gt;-->
                    <div class="liquid-img-container-inner">
                      <figure data-responsive-bg="true">
                        <img src="./assets/img/kitchen/fenix%203%20(Medium).jpg" alt="Ave" style="max-height: 710px;" />
                      </figure>
                    </div><!-- /.liquid-img-container-inner -->
                  </div><!-- /.liquid-img-group-img-container -->
                </div><!-- /.liquid-img-group-single -->
              </div><!-- /.liquid-img-group-inner -->
            </div><!-- /.liquid-img-group-container -->

          </div><!-- /.col-lg-6 col-lg-offset-1 -->

          <div
            class="lqd-column col-lg-5"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              <strong>Elite</strong> Urban<br>
              <!--              Acrylic-->
            </h2>

            <p class="pr-7 mr-7 mb-60">Fenix: Kitchens with new urban super matte finish known as Fenix are very low on maintenance. Fenix is a super opaque nanotech material with anti-fingerprint property and features a smooth and soft touch. </p>

          </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </section>
    <!--    carousel start-->
    <div class="pt-20 container-fluid">
      <div class="row">

        <div class="lqd-column col-md-12">

          <div  class="carousel-container carousel-shadow-active carousel-nav-left carousel-nav-md carousel-dots-style1">
            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":true}'>

              <!--              <div class="carousel-item col-md-6">-->
              <!--                <figure>-->
              <!--                  <img src="./assets/img/kitchen/acrylic%204%20(Medium).jpg" alt="Carousel Item">-->
              <!--                </figure>-->
              <!--              </div>&lt;!&ndash; /.carousel-item &ndash;&gt;-->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/fenix%201%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/fenix%2044%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/fenix%20444%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/fenix%204444%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/fenix%20444444%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->


            </div><!-- /.carousel-items -->
          </div><!-- /.carousel-container -->

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

  <hr style="margin-top: 35px;margin-bottom: 10px;">

<!--  ***** glass -->
  <section id="glass" class="vc_row pt-50">
    <section class="vc_row pt-100 pb-80 bg-light">

      <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

          <div
            class="lqd-column col-lg-5"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              <strong>Elite</strong> pure <br>
              <!--              <strong>good</strong> business-->
            </h2>

            <p class="pr-7 mr-7 mb-60">Back painted glass: Kitchens equipped with vibrant shades of back painted glass are easy to maintain and one cannot resist the pure look of the kitchen. The class of glass adds to the beauty and make the cooking experience more pleasant.</p>

          </div><!-- /.col-lg-4 -->

          <div class="lqd-column col-lg-6 col-lg-offset-1">

            <div class="liquid-img-group-container stretch-to-right">
              <div class="liquid-img-group-inner">
                <div class="liquid-img-group-single " data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
                  <!--                  <span class="liquid-img-group-url"><span>http://</span>ave.com/</span>-->
                  <div class="liquid-img-group-img-container">

                    <div class="liquid-img-container-inner">
                      <figure data-responsive-bg="true">
                        <img src="./assets/img/kitchen/glass%202%20(Medium).jpg" alt="Ave" />
                      </figure>
                    </div><!-- /.liquid-img-container-inner -->
                  </div><!-- /.liquid-img-group-img-container -->
                </div><!-- /.liquid-img-group-single -->
              </div><!-- /.liquid-img-group-inner -->
            </div><!-- /.liquid-img-group-container -->

          </div><!-- /.col-lg-6 col-lg-offset-1 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </section>

    <!--    carousel start-->
    <div class="pt-20 container-fluid">
      <div class="row">

        <div class="lqd-column col-md-12">

          <div  class="carousel-container carousel-shadow-active carousel-nav-left carousel-nav-md carousel-dots-style1">
            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":true}'>

              <!--              <div class="carousel-item col-md-6">-->
              <!--                <figure>-->
              <!--                  <img src="./assets/img/kitchen/acrylic%204%20(Medium).jpg" alt="Carousel Item">-->
              <!--                </figure>-->
              <!--              </div>&lt;!&ndash; /.carousel-item &ndash;&gt;-->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/glass%202%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

<!--              <div class="carousel-item col-md-6">-->
<!--                <figure>-->
<!--                  <img src="./assets/img/kitchen/PU%20(Medium).jpg" alt="Carousel Item">-->
<!--                </figure>-->
<!--              </div>&lt;!&ndash; /.carousel-item &ndash;&gt;-->

<!--              <div class="carousel-item col-md-6">-->
<!--                <figure>-->
<!--                  <img src="./assets/img/kitchen/PU%20(2)%20(Medium).jpg" alt="Carousel Item">-->
<!--                </figure>-->
<!--              </div>&lt;!&ndash; /.carousel-item &ndash;&gt;-->

            </div><!-- /.carousel-items -->
          </div><!-- /.carousel-container -->

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

  <hr style="margin-top: 35px;margin-bottom: 10px;">

<!--  ***** solid glass-->
  <section id="solidwood" class="vc_row pt-50">
    <section class="vc_row pt-70 pb-50 bg-light">

      <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

          <div class="lqd-column col-lg-6 col-lg-offset-1">

            <div class="liquid-img-group-container stretch-to-left">
              <div class="liquid-img-group-inner">
                <div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
                  <!--                  <span class="liquid-img-group-url"><span>http://</span>ave.com/</span>-->
                  <div class="liquid-img-group-img-container">
                    <!--                    <div class="liquid-img-group-content content-floated-mid-left">-->
                    <!--                      <a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase btn-gradient fresco btn-icon-block btn-icon-top btn-icon-xlg btn-icon-circle btn-icon-solid font-size-13 text-dark">-->
                    <!--													<span>-->
                    <!--														<span class="btn-txt">See how it works</span>-->
                    <!--														<span class="btn-icon bg-primary font-size-24"><i class="fa fa-play"></i></span>-->
                    <!--													</span>-->
                    <!--                      </a>-->
                    <!--                    </div>&lt;!&ndash; /.liquid-img-group-content &ndash;&gt;-->
                    <div class="liquid-img-container-inner">
                      <figure data-responsive-bg="true">
                        <img src="./assets/img/kitchen/solid%20wood%203%20(Medium).jpg" alt="Ave" style="max-height: 710px;" />
                      </figure>
                    </div><!-- /.liquid-img-container-inner -->
                  </div><!-- /.liquid-img-group-img-container -->
                </div><!-- /.liquid-img-group-single -->
              </div><!-- /.liquid-img-group-inner -->
            </div><!-- /.liquid-img-group-container -->

          </div><!-- /.col-lg-6 col-lg-offset-1 -->

          <div
            class="lqd-column col-lg-5"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              <strong>Elite</strong> retro<br>
              <!--              Acrylic-->
            </h2>

            <p class="pr-7 mr-7 mb-60">Solid wood: Kitchens with retro look of solid wood gives the touch of traditional feel. High on durability, look and feel; comes with various shutter designs. If you are a retro lover, this is something you are looking for.</p>

          </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </section>
    <!--    carousel start-->
    <div class="pt-20 container-fluid">
      <div class="row">

        <div class="lqd-column col-md-12">

          <div  class="carousel-container carousel-shadow-active carousel-nav-left carousel-nav-md carousel-dots-style1">
            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":true}'>

              <!--              <div class="carousel-item col-md-6">-->
              <!--                <figure>-->
              <!--                  <img src="./assets/img/kitchen/acrylic%204%20(Medium).jpg" alt="Carousel Item">-->
              <!--                </figure>-->
              <!--              </div>&lt;!&ndash; /.carousel-item &ndash;&gt;-->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/solid%20wod%203%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/solid%20wood%20(2)%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/solid%20wood%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/kitchen/solid%20wood%203%20(Medium).jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

            </div><!-- /.carousel-items -->
          </div><!-- /.carousel-container -->

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
</main>
