<main id="content" class="content">

  <section class="vc_row pt-50">

    <div class="lqd-custom-menu lqd-sticky-menu"
         data-pin="true"
         data-pin-options='{ "offset": "[data-sticky-header] .mainbar-wrap.is-stuck", "duration": "last-link", "pushFollowers": false }'
    >
      <ul class="reset-ul inline-nav text-center">
        <li><a href="#hinged" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Hinged</a></li>
        <li><a href="#sliding" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Sliding</a></li>
        <li><a href="#walk-in" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Walk-in</a></li>
        <!-- <li><a href="#fenix" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Fenix</a></li> -->
        <!-- <li><a href="#glass" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Backpainted glass</a></li> -->
        <!-- <li><a href="#solidwood" data-localscroll="true" data-localscroll-options='{ "offsetElements": "[data-sticky-header] .mainbar-wrap, parent" }'>Solid wood</a></li> -->
      </ul>
    </div><!-- /.lqd-custom-menu -->
  </section>

<!--  ***** Laminate ***** -->
  <section id="hinged" class="vc_row pt-50">
    <section class="vc_row pt-100 pb-80 bg-light">

      <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

          <div
            class="lqd-column col-lg-5"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              <strong>Hinged</strong> wardrobes<br>
<!--               Laminate-->
            </h2>

            <p class="pr-7 mr-7 mb-60">
              Wardrobes with shutters attached on hinges are hinged wardrobes. Hinged wardrobes can be customized to any shape and design. These conventional design wardrobes are always very easy to use and low on maintenance. These are available in variety of front finishes and handle design choices.
            </p>

          </div><!-- /.col-lg-4 -->

          <div class="lqd-column col-lg-6 col-lg-offset-1">

            <div class="liquid-img-group-container stretch-to-right">
              <div class="liquid-img-group-inner">
                <div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
<!--                  <span class="liquid-img-group-url"><span>http://</span>ave.com/</span>-->
                  <div class="liquid-img-group-img-container">
<!--                    <div class="liquid-img-group-content content-floated-mid-left">-->
<!--                      <a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase btn-gradient fresco btn-icon-block btn-icon-top btn-icon-xlg btn-icon-circle btn-icon-solid font-size-13 text-dark">-->
<!--													<span>-->
<!--														<span class="btn-txt">See how it works</span>-->
<!--														<span class="btn-icon bg-primary font-size-24"><i class="fa fa-play"></i></span>-->
<!--													</span>-->
<!--                      </a>-->
<!--                    </div>&lt;!&ndash; /.liquid-img-group-content &ndash;&gt;-->
                    <div class="liquid-img-container-inner">
                      <figure data-responsive-bg="true">
                        <img src="./assets/img/wardrobe/hinged3.jpg" alt="Ave" style="max-height: 710px;"/>
                      </figure>
                    </div><!-- /.liquid-img-container-inner -->

                  </div><!-- /.liquid-img-group-img-container -->
                </div><!-- /.liquid-img-group-single -->
              </div><!-- /.liquid-img-group-inner -->
            </div><!-- /.liquid-img-group-container -->

          </div><!-- /.col-lg-6 col-lg-offset-1 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </section>

<!--    carousel start-->
    <div class="pt-20 container-fluid">
      <div class="row">

        <div class="lqd-column col-md-12">

          <div  class="carousel-container carousel-shadow-active carousel-nav-left carousel-nav-md carousel-dots-style1">
            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":true}'>

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/wardrobe/hinged1.jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/wardrobe/hinged2.jpg" alt="Carousel Item" >
                </figure>
              </div><!-- /.carousel-item -->

              <!-- <div class="carousel-item col-md-6"> -->
                <!-- <figure> -->
                  <!-- <img src="./assets/img/wardrobe/hinged3.jpg" alt="Carousel Item"> -->
                <!-- </figure> -->
              <!-- </div>/.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/wardrobe/hinged5.jpg" alt="Carousel Item">
                </figure>
              </div><!-- /.carousel-item -->

            </div><!-- /.carousel-items -->
          </div><!-- /.carousel-container -->

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

<hr style="margin-top: 35px;margin-bottom: 10px;">

  <!--  ***** Acrylic *****-->
  <section id="sliding" class="vc_row pt-50">
    <section class="vc_row pt-70 pb-50 bg-light">

      <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

          <div class="lqd-column col-lg-6 col-lg-offset-1">

            <div class="liquid-img-group-container stretch-to-left">
              <div class="liquid-img-group-inner">
                <div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
                  <!--                  <span class="liquid-img-group-url"><span>http://</span>ave.com/</span>-->
                  <div class="liquid-img-group-img-container">
                    <!--                    <div class="liquid-img-group-content content-floated-mid-left">-->
                    <!--                      <a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase btn-gradient fresco btn-icon-block btn-icon-top btn-icon-xlg btn-icon-circle btn-icon-solid font-size-13 text-dark">-->
                    <!--													<span>-->
                    <!--														<span class="btn-txt">See how it works</span>-->
                    <!--														<span class="btn-icon bg-primary font-size-24"><i class="fa fa-play"></i></span>-->
                    <!--													</span>-->
                    <!--                      </a>-->
                    <!--                    </div>&lt;!&ndash; /.liquid-img-group-content &ndash;&gt;-->
                    <div class="liquid-img-container-inner">
                      <figure data-responsive-bg="true">
                        <img src="./assets/img/wardrobe/sliding1.jpg" alt="Ave"  />
                      </figure>
                    </div><!-- /.liquid-img-container-inner -->
                  </div><!-- /.liquid-img-group-img-container -->
                </div><!-- /.liquid-img-group-single -->
              </div><!-- /.liquid-img-group-inner -->
            </div><!-- /.liquid-img-group-container -->

          </div><!-- /.col-lg-6 col-lg-offset-1 -->

          <div
            class="lqd-column col-lg-5"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              <strong>Sliding</strong> wardrobes<br>
<!--              Acrylic-->
            </h2>

            <p class="pr-7 mr-7 mb-60">Wardrobes with horizontal siding system shutters are sliding wardrobes. These wardrobes are essentially designed for full height and clear width storage when widely opened. These are space savers in the bedroom and can be customized as per your style statement. Sliding wardrobes are available in variety of front finishes and handle design choices.</p>

          </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </section>
    <!--    carousel start-->
    <div class="pt-20 container-fluid">
      <div class="row">

        <div class="lqd-column col-md-12">

          <div  class="carousel-container carousel-shadow-active carousel-nav-left carousel-nav-md carousel-dots-style1">
            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":true}'>

<!--              <div class="carousel-item col-md-6">-->
<!--                <figure>-->
<!--                  <img src="./assets/img/kitchen/acrylic%204%20(Medium).jpg" alt="Carousel Item">-->
<!--                </figure>-->
<!--              </div>&lt;!&ndash; /.carousel-item &ndash;&gt;-->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/wardrobe/sliding1.jpg" alt="Carousel Item" style="height:600px;">
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/wardrobe/sliding2.jpg" alt="Carousel Item" style="height:600px;">
                </figure>
              </div><!-- /.carousel-item -->

            </div><!-- /.carousel-items -->
          </div><!-- /.carousel-container -->

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

  <hr style="margin-top: 35px;margin-bottom: 10px;">

<!--  ***** PU *****-->
  <section id="walk-in" class="vc_row pt-50">
    <section class="vc_row pt-100 pb-80 bg-light">

      <div class="container">
        <div class="row d-flex flex-wrap align-items-center">

          <div
            class="lqd-column col-lg-5"
            data-custom-animations="true"
            data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

            <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
            >
              <strong>Walk-in</strong> Wardrobes <br>
<!--              <strong>good</strong> business-->
            </h2>

            <p class="pr-7 mr-7 mb-60">
              Wardrobes with open walk-in space are very modern and luxurious choice of wardrobes. Walk-in wardrobes are aesthetically very smart and elegant. These can be customized and designed in any open bedroom space. If you have the walk-in wardrobe, that’s surely the favorite part of your home.
            </p>

          </div><!-- /.col-lg-4 -->

          <div class="lqd-column col-lg-6 col-lg-offset-1">

            <div class="liquid-img-group-container stretch-to-right">
              <div class="liquid-img-group-inner">
                <div class="liquid-img-group-single " data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
<!--                  <span class="liquid-img-group-url"><span>http://</span>ave.com/</span>-->
                  <div class="liquid-img-group-img-container">
<!--                    <div class="liquid-img-group-content content-floated-mid-left">-->
<!--                      <a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase btn-gradient fresco btn-icon-block btn-icon-top btn-icon-xlg btn-icon-circle btn-icon-solid font-size-13 text-dark">-->
<!--													<span>-->
<!--														<span class="btn-txt">See how it works</span>-->
<!--														<span class="btn-icon bg-primary font-size-24"><i class="fa fa-play"></i></span>-->
<!--													</span>-->
<!--                      </a>-->
<!--                    </div>&lt;!&ndash; /.liquid-img-group-content &ndash;&gt;-->
                    <div class="liquid-img-container-inner">
                      <figure data-responsive-bg="true">
                        <img src="./assets/img/wardrobe/walkin4.jpg" alt="Ave" style="max-height: 710px;"/>
                      </figure>
                    </div><!-- /.liquid-img-container-inner -->
                  </div><!-- /.liquid-img-group-img-container -->
                </div><!-- /.liquid-img-group-single -->
              </div><!-- /.liquid-img-group-inner -->
            </div><!-- /.liquid-img-group-container -->

          </div><!-- /.col-lg-6 col-lg-offset-1 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </section>

    <!--    carousel start-->
    <div class="pt-20 container-fluid">
      <div class="row">

        <div class="lqd-column col-md-12">

          <div  class="carousel-container carousel-shadow-active carousel-nav-left carousel-nav-md carousel-dots-style1">
            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"pageDots":false,"groupCells":false,"wrapAround":true,"pauseAutoPlayOnHover":true}'>

              <!--              <div class="carousel-item col-md-6">-->
              <!--                <figure>-->
              <!--                  <img src="./assets/img/kitchen/acrylic%204%20(Medium).jpg" alt="Carousel Item">-->
              <!--                </figure>-->
              <!--              </div>&lt;!&ndash; /.carousel-item &ndash;&gt;-->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/wardrobe/walkin1.jpg" alt="Carousel Item1" >
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/wardrobe/walkin2.jpg" alt="Carousel Item2" >
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/wardrobe/walkin3.jpg" alt="Carousel Item3" >
                </figure>
              </div><!-- /.carousel-item -->

              <div class="carousel-item col-md-6">
                <figure>
                  <img src="./assets/img/wardrobe/walkin4.jpg" alt="Carousel Item4" >
                </figure>
              </div><!-- /.carousel-item -->

            </div><!-- /.carousel-items -->
          </div><!-- /.carousel-container -->

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <app-footer></app-footer>
</main>
