<!--home-->
<main id="content" class="content" data-liquid-stack="true" data-stack-options='{"navigation":false, "prevNextButtons":false, "pageNumber":true, "prevNextLabels":{"prev":"Previous", "next":"Next"}, "effect":"slideOver"}'>

  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">

    <div class="lqd-particles-bg-wrap">

      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-1"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":1,"density":2},"color":{"value":["#F3F2F1","#DDD8D8"]},"shape":{"type":["circle"]},"size":{"value":500},"move":{"enable":true,"direction":"top","speed":1,"random":true,"out_mode":"out"}},"interactivity":[]}'>
        </div><!-- /.ld-particles-inner -->
      </div><!-- /.ld-particles-container -->

    </div><!-- /.lqd-particles-bg-wrap -->

    <div class="">
      <div class="row">
        <div class="lqd-column ">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">
            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fff", "revealSettings": { "duration": 800, "onCoverAnimations": { "scale": [2, 1] } } }'>
                  <figure class="col-sm-12 col-lg-10">

                    <video autoplay muted loop class="cover-video">
                      <source src="assets/img/coverFinal.mp4" type="video/mp4">
                    </video>
                  </figure>
                </div><!-- /.lqd-promo-img-inner -->
              </div><!-- /.lqd-promo-img -->

            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">

    <div class="lqd-particles-bg-wrap">

      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-2"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":2,"density":1},"color":{"value":["#d89743","#C0C0C0"]},"shape":{"type":["circle"]},"size":{"value":450},"move":{"enable":true,"direction":"top","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'>
        </div><!-- /.ld-particles-inner -->
      </div><!-- /.ld-particles-container -->

    </div><!-- /.lqd-particles-bg-wrap -->

    <div class="">
      <div class="container">
      <h2
        style="margin: 0px 0px 0px 10px;"
        data-split-text="true"
        data-split-options='{ "type": "chars, words" }'
        data-custom-animations="true"
        data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 300, "delay": 25, "initValues": { "translateY": 25, "translateX": 15, "rotate": 12, "opacity": 0 }, "animations": { "translateY": 0, "translateX": 0, "rotate": 0, "opacity": 1 } }'
      >Let your kitchen reflect your elite taste.
        <a href="#" class="btn btn-split text-uppercase font-size-14 font-weight-bold">
          											<span >
          												<span class="btn-split-bg"></span>
          												<span class="btn-txt">Discover Collection</span>
          											</span>
                          </a>
      </h2>
      </div>
      <div class="row">
        <div class="lqd-column col-xs-12">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">

            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fff", "revealSettings": { "duration": 800, "onCoverAnimations": { "scale": [2, 1] } } }'>
                  <figure style="max-width: 1300px;">
                    <img src="assets/img/pamphlet%5B1616%5D.jpeg" alt="Promo">
                  </figure>
                </div><!-- /.lqd-promo-img-inner -->
              </div><!-- /.lqd-promo-img -->

            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">

    <div class="lqd-particles-bg-wrap">

      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-3"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":2,"density":1},"color":{"value":["#322d2c","#C0C0C0"]},"shape":{"type":["circle"]},"size":{"value":450},"move":{"enable":true,"direction":"top","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'>
        </div><!-- /.ld-particles-inner -->
      </div><!-- /.ld-particles-container -->

    </div><!-- /.lqd-particles-bg-wrap -->

<!--    <div>-->
    <div class="">
      <div class="container">
        <h2
          style="margin: 0px 0px 0px 10px;"
          data-split-text="true"
          data-split-options='{ "type": "chars, words" }'
          data-custom-animations="true"
          data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 300, "delay": 25, "initValues": { "translateY": 25, "translateX": 15, "rotate": 12, "opacity": 0 }, "animations": { "translateY": 0, "translateX": 0, "rotate": 0, "opacity": 1 } }'
        >Design your customized style statement.
        <a href="#" class="btn btn-split text-uppercase font-size-14 font-weight-bold">
											<span>
												<span class="btn-split-bg"></span>
												<span class="btn-txt">Discover more</span>
											</span>
        </a>
        </h2>
      </div>
      <div class="row">
        <div class="lqd-column col-xs-12">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">
            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fff", "revealSettings": { "duration": 800, "onCoverAnimations": { "scale": [2, 1] } } }'>
                  <figure style="max-width: 1300px;">
                    <img src="assets/img/wardrobe-banner.jpg" alt="Promo">
                  </figure>
                </div><!-- /.lqd-promo-img-inner -->
              </div><!-- /.lqd-promo-img -->

<!--              <div class="lqd-promo-content"-->
<!--                   data-custom-animations="true"-->
<!--                   data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 800, "startDelay": 900, "initValues": { "translateY": 30, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'-->
<!--              >-->
<!--                <div class="lqd-promo-cat"-->
<!--                     data-custom-animations="true"-->
<!--                     data-ca-options='{ "triggerHandler": "inview", "animationTarget": "li", "duration": 800, "delay": 100, "initValues": { "translateX": 15, "opacity": 0 }, "animations": { "translateX": 0, "opacity": 1 } }'-->
<!--                >-->
<!--                  <ul class="reset-ul comma-sep-li inline-nav text-uppercase">-->
<!--                    <li>Wardrobes</li>-->
<!--&lt;!&ndash;                    <li>Fashion</li>&ndash;&gt;-->
<!--                  </ul>-->
<!--                </div>&lt;!&ndash; /.lqd-promo-cat &ndash;&gt;-->
<!--                <h2-->
<!--                  data-split-text="true"-->
<!--                  data-split-options='{ "type": "chars, words" }'-->
<!--                  data-custom-animations="true"-->
<!--                  data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 300, "delay": 25, "initValues": { "translateY": 25, "translateX": 15, "rotate": 12, "opacity": 0 }, "animations": { "translateY": 0, "translateX": 0, "rotate": 0, "opacity": 1 } }'-->
<!--                >Design your customized style statement.</h2>-->
<!--                <a href="#" class="btn btn-split text-uppercase font-size-14 font-weight-bold">-->
<!--											<span>-->
<!--												<span class="btn-split-bg"></span>-->
<!--												<span class="btn-txt">Discover more</span>-->
<!--											</span>-->
<!--                </a>-->
<!--              </div>&lt;!&ndash; /.lqd-promo-content &ndash;&gt;-->

            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">

    <div class="lqd-particles-bg-wrap">

      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-4"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":2,"density":1},"color":{"value":["#3f2612","#C0C0C0"]},"shape":{"type":["circle"]},"size":{"value":450},"move":{"enable":true,"direction":"top","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'>
        </div><!-- /.ld-particles-inner -->
      </div><!-- /.ld-particles-container -->

    </div><!-- /.lqd-particles-bg-wrap -->

    <div class="">
      <div class="container">
        <h2
          style="margin: 0px 0px 0px 10px;"
          data-split-text="true"
          data-split-options='{ "type": "chars, words" }'
          data-custom-animations="true"
          data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 300, "delay": 25, "initValues": { "translateY": 25, "translateX": 15, "rotate": 12, "opacity": 0 }, "animations": { "translateY": 0, "translateX": 0, "rotate": 0, "opacity": 1 } }'
        >Design for convenience, design for love.
          <a href="#" class="btn btn-split text-uppercase font-size-14 font-weight-bold">
          											<span >
          												<span class="btn-split-bg"></span>
          												<span class="btn-txt">Discover Collection</span>
          											</span>
          </a>
        </h2>
      </div>
      <div class="row">
        <div class="lqd-column col-xs-12">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">

            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fff", "revealSettings": { "duration": 800, "onCoverAnimations": { "scale": [2, 1] } } }'>
                  <figure style="max-width: 1300px;">
                    <img src="assets/img/bedroom.jpg" alt="Promo">
                  </figure>
                </div><!-- /.lqd-promo-img-inner -->
              </div><!-- /.lqd-promo-img -->

            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">

    <div class="lqd-particles-bg-wrap">

      <div class="ld-particles-container">
        <div
          class="ld-particles-inner"
          id="ld-particles-5"
          data-particles="true"
          data-particles-options='{"particles":{"number":{"value":2,"density":1},"color":{"value":["#fcdcd5","#e8e2be"]},"shape":{"type":["circle"]},"size":{"value":450},"move":{"enable":true,"direction":"top","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'>
        </div><!-- /.ld-particles-inner -->
      </div><!-- /.ld-particles-container -->

    </div><!-- /.lqd-particles-bg-wrap -->

    <div class="container">
      <div class="row">
        <div class="lqd-column col-xs-12">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">
            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fff", "revealSettings": { "duration": 800, "onCoverAnimations": { "scale": [2, 1] } } }'>
                  <figure>
                    <img src="assets/demo/misc/promo-10.jpg" alt="Promo">
                  </figure>
                </div><!-- /.lqd-promo-img-inner -->
              </div><!-- /.lqd-promo-img -->

              <div class="lqd-promo-content"
                   data-custom-animations="true"
                   data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 800, "startDelay": 900, "initValues": { "translateY": 30, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
              >
                <div class="lqd-promo-cat"
                     data-custom-animations="true"
                     data-ca-options='{ "triggerHandler": "inview", "animationTarget": "li", "duration": 800, "delay": 100, "initValues": { "translateX": 15, "opacity": 0 }, "animations": { "translateX": 0, "opacity": 1 } }'
                >
                  <ul class="reset-ul comma-sep-li inline-nav text-uppercase">
                    <li>Strategy</li>
                    <li>Charity</li>
                  </ul>
                </div><!-- /.lqd-promo-cat -->
                <h2
                  data-split-text="true"
                  data-split-options='{ "type": "chars, words" }'
                  data-custom-animations="true"
                  data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 800, "startDelay": 300, "delay": 25, "initValues": { "translateY": 25, "translateX": 15, "rotate": 12, "opacity": 0 }, "animations": { "translateY": 0, "translateX": 0, "rotate": 0, "opacity": 1 } }'
                >Something you never know</h2>
                <a href="#" class="btn btn-split text-uppercase font-size-14 font-weight-bold">
											<span>
												<span class="btn-split-bg"></span>
												<span class="btn-txt">Discover more</span>
											</span>
                </a>
              </div><!-- /.lqd-promo-content -->

            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

</main><!-- /#content.content -->
