<!--home-->
<main id="content" class="content" data-liquid-stack="true" data-stack-options='{"navigation":false, "prevNextButtons":false, "pageNumber":true, "prevNextLabels":{"prev":"Previous", "next":"Next"}, "effect":"slideOver"}'>

  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">

    <div class="">
      <div class="row">
        <div class="lqd-column ">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">
            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fff", "revealSettings": { "duration": 400, "onCoverAnimations": { "scale": [2, 1] } } }'>
                  <figure class="col-sm-12 col-lg-10">
                    <video autoplay muted loop class="cover-video">
                      <source src="assets/img/coverFinal.mp4" type="video/mp4">
                    </video>
                  </figure>
                </div><!-- /.lqd-promo-img-inner -->
              </div><!-- /.lqd-promo-img -->

            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">



    <div class="">
      <div class="container">
      <h2
        style="margin: 0px 0px 0px 10px;"
        data-split-text="true"
        data-split-options='{ "type": "chars, words" }'
        data-custom-animations="false"
        data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 150, "startDelay": 20, "delay": 15, "initValues": { "translateY": 25, "translateX": 15, "rotate": 12, "opacity": 0 }, "animations": { "translateY": 0, "translateX": 0, "rotate": 0, "opacity": 1 } }'
      >Let your kitchen reflect your elite taste.
        <a href="/kitchens" class="btn btn-split text-uppercase font-size-14 font-weight-bold">
											<span>
												<span class="btn-split-bg"></span>
												<span class="btn-txt">Discover collection</span>
											</span>
        </a>
      </h2>
      </div>
      <div class="row">
        <div class="lqd-column col-xs-12">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">

            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fff", "revealSettings": { "duration": 800, "onCoverAnimations": { "scale": [2, 1] } } }'>
                  <figure style="max-width: 1300px;">
                    <img src="assets/img/pamphlet%5B1616%5D.jpeg" alt="Promo">
                  </figure>
                </div><!-- /.lqd-promo-img-inner -->
              </div><!-- /.lqd-promo-img -->

            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">


    <!--    <div>-->
    <div class="">
      <div class="container">
        <h2
          style="margin: 0px 0px 0px 10px;"
          data-split-text="true"
          data-split-options='{ "type": "chars, words" }'
          data-custom-animations="true"
          data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 150, "startDelay": 20, "delay": 15, "initValues": { "translateY": 25, "translateX": 15, "rotate": 12, "opacity": 0 }, "animations": { "translateY": 0, "translateX": 0, "rotate": 0, "opacity": 1 } }'
        >Design your customized style statement.
          <a href="/wardrobes" class="btn btn-split text-uppercase font-size-14 font-weight-bold">
											<span>
												<span class="btn-split-bg"></span>
												<span class="btn-txt">Discover collection</span>
											</span>
          </a>
        </h2>
      </div>
      <div class="row">
        <div class="lqd-column col-xs-12">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">
            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fff", "revealSettings": { "duration": 800, "onCoverAnimations": { "scale": [2, 1] } } }'>
                  <figure style="max-width: 1300px;">
                    <img src="assets/img/wardrobe-banner.jpg" alt="Promo">
                  </figure>
                </div><!-- /.lqd-promo-img-inner -->
              </div><!-- /.lqd-promo-img -->


            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">


    <div class="">
      <div class="container">
        <h2
          style="margin: 0px 0px 0px 10px;"
          data-split-text="true"
          data-split-options='{ "type": "chars, words" }'
          data-custom-animations="true"
          data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 150, "startDelay": 20, "delay": 15, "initValues": { "translateY": 25, "translateX": 15, "rotate": 12, "opacity": 0 }, "animations": { "translateY": 0, "translateX": 0, "rotate": 0, "opacity": 1 } }'
        >Design for convenience, design for love.
          <a href="#" class="btn btn-split text-uppercase font-size-14 font-weight-bold">
          											<span >
          												<span class="btn-split-bg"></span>
          												<span class="btn-txt">Discover Collection</span>
          											</span>
          </a>
        </h2>
      </div>
      <div class="row">
        <div class="lqd-column col-xs-12">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">

            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#fff", "revealSettings": { "duration": 800, "onCoverAnimations": { "scale": [2, 1] } } }'>
                  <figure style="max-width: 1300px;">
                    <img src="assets/img/bedroom.jpg" alt="Promo">
                  </figure>
                </div><!-- /.lqd-promo-img-inner -->
              </div><!-- /.lqd-promo-img -->

            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>

<!-- ***** Designer's desk start ***** -->
  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">

<!--    <div class="lqd-particles-bg-wrap">-->

<!--      <div class="ld-particles-container">-->
<!--        <div-->
<!--          class="ld-particles-inner"-->
<!--          id="ld-particles-5"-->
<!--          data-particles="true"-->
<!--          data-particles-options='{"particles":{"number":{"value":2,"density":1},"color":{"value":["#fcdcd5","#e8e2be"]},"shape":{"type":["circle"]},"size":{"value":450},"move":{"enable":true,"direction":"top","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'>-->
<!--        </div>&lt;!&ndash; /.ld-particles-inner &ndash;&gt;-->
<!--      </div>&lt;!&ndash; /.ld-particles-container &ndash;&gt;-->

<!--    </div>&lt;!&ndash; /.lqd-particles-bg-wrap &ndash;&gt;-->

<!--    <div class="lqd-particles-bg-wrap">-->
<!--      <div class="ld-particles-container">-->
<!--        <div-->
<!--          class="ld-particles-inner"-->
<!--          id="ld-particles-5"-->
<!--          data-particles="true"-->
<!--          data-particles-options='{"particles":{"number":{"value":150},"color":{"value":"#a7adba"},"shape":{"type":["circle", "polygon"]},"opacity":{"value":0.75,"random":true,"anim":{"enable":true,"opacity_min":0.2,"speed":0,"sync":true}},"size":{"value":3,"random":true,"anim":{"enable":true,"size_min":50,"speed":0}},"move":{"enable":true,"direction":"none","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'>-->
<!--        </div>&lt;!&ndash; /.lqd-particles-inner &ndash;&gt;-->
<!--      </div>&lt;!&ndash; /.ld-particles-container &ndash;&gt;-->
<!--    </div>&lt;!&ndash; /.ld-particles-bg-wrap &ndash;&gt;-->


    <div class="container">
      <div class="row">
        <div class="lqd-column col-xs-12">

          <div class="lqd-promo-wrap lqd-promo-alt lqd-promo-reverse">
            <div class="lqd-promo-inner">

              <div class="lqd-promo-img">
                <section class="vc_row pt-100 pb-100">
                  <div class="container">
                    <div class="row">

                      <div class="lqd-column col-md-6 col-md-offset-3">

                        <div class="one-ib-circ" data-spread-incircle="true" data-hover3d="true">

                          <div class="one-ib-circ-wrap" data-stacking-factor="0.95">

                            <div class="one-ib-circ-inner">

                              <div class="one-ib-circ-item">

                                <div class="one-ib-circ-icn">
												<span>
													<i class="icon-ion-ios-person"></i>
												</span>
                                </div><!-- /.one-ib-circ-icn -->

                                <div class="one-ib-circ-cnt">
                                  <h3>Meet our designer</h3>
                                  <hr>
<!--                                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>-->
                                </div><!-- /.one-ib-circ-cnt -->

                              </div><!-- /.one-ib-circ-item -->

                              <div class="one-ib-circ-item">

                                <div class="one-ib-circ-icn">
												<span>
													<i class="icon-et-tools"></i>
												</span>
                                </div><!-- /.one-ib-circ-icn -->

                                <div class="one-ib-circ-cnt">
                                  <h3>Measurement & planning</h3>
                                  <hr>
<!--                                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>-->
                                </div><!-- /.one-ib-circ-cnt -->

                              </div><!-- /.one-ib-circ-item -->

                              <div class="one-ib-circ-item">

                                <div class="one-ib-circ-icn">
												<span>
													<i class="icon-ion-ios-home"></i>
												</span>
                                </div><!-- /.one-ib-circ-icn -->

                                <div class="one-ib-circ-cnt">
                                  <h3>Customized design</h3>
                                  <hr>
<!--                                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>-->
                                </div><!-- /.one-ib-circ-cnt -->

                              </div><!-- /.one-ib-circ-item -->

                              <div class="one-ib-circ-item">

                                <div class="one-ib-circ-icn">
												<span>
													<i class="icon-et-tools"></i>
												</span>
                                </div><!-- /.one-ib-circ-icn -->

                                <div class="one-ib-circ-cnt">
                                  <h3>Installed by Experts</h3>
                                  <hr>
<!--                                  <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>-->
                                </div><!-- /.one-ib-circ-cnt -->

                              </div><!-- /.one-ib-circ-item -->



                            </div><!-- /.one-ib-circ-inner -->

                          </div><!-- /.one-ib-circ-wrap -->

                        </div><!-- /.one-ib-circ -->

                      </div><!-- /.lqd-column col-md-6 col-md-offset-3 -->

                    </div><!-- /.row -->
                  </div><!-- /.container -->
                </section>

              </div><!-- /.lqd-promo-img -->

              <div class="lqd-promo-content"
                   data-custom-animations="true"
                   data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 150, "startDelay": 300, "initValues": { "translateY": 30, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
              >
                <div class="lqd-promo-cat"
                     data-custom-animations="true"
                     data-ca-options='{ "triggerHandler": "inview", "animationTarget": "li", "duration": 150, "delay": 50, "initValues": { "translateX": 15, "opacity": 0 }, "animations": { "translateX": 0, "opacity": 1 } }'
                >
                  <ul class="reset-ul comma-sep-li inline-nav text-uppercase">
                    <li><a href="/designers-desk">Designer's Desk</a></li>
<!--                    <li>Charity</li>-->
                  </ul>
                </div><!-- /.lqd-promo-cat -->
                <h2

                  data-split-text="true"
                  data-split-options='{ "type": "chars, words" }'
                  data-custom-animations="true"
                  data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 150, "startDelay": 20, "delay": 15, "initValues": { "translateY": 25, "translateX": 15, "rotate": 12, "opacity": 0 }, "animations": { "translateY": 0, "translateX": 0, "rotate": 0, "opacity": 1 } }'
                >Designing emotions into reality</h2>
                <a href="/contact#enquiryForm" class="btn btn-split text-uppercase font-size-14 font-weight-bold">
											<span>
												<span class="btn-split-bg"></span>
												<span class="btn-txt">Book your appointment</span>
											</span>
                </a>
              </div><!-- /.lqd-promo-content -->

            </div><!-- /.lqd-promo-inner -->
          </div><!-- /.lqd-promo-wrap -->

        </div><!-- /.lqd-column col-xs-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

  </section>
<!-- ***** Designer's desk end ***** -->

<!--  ***** Testimonials start *****-->
  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">


    <div class="container">

      <div class="row mb-60">

        <div class="lqd-column col-md-12">

          <h2 class="mb-0">Testimonials</h2>
          <p class="font-size-12 text-uppercase ltr-sp-2">We get people talking</p>

        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->

      <div class="row">

        <div class="lqd-column col-md-12 mb-50">

          <div class="lqd-column-inner bg-white box-shadow-1 px-5 px-md-7 pt-5 pb-3">

            <div class="carousel-container carousel-nav-floated carousel-nav-center carousel-nav-middle carousel-nav-md carousel-dots-style1">

              <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"center","prevNextButtons":true,"buttonsAppendTo":"self","pageDots":false,"groupCells":true,"pauseAutoPlayOnHover":false,"navArrow":"1","navOffsets":{"nav":{"top":"42%"}}}'>

                <div *ngFor="let object of objects"  class="carousel-item col-xs-12 text-center px-md-7">
                  <!-- <h3 class="font-size-22 text-primary">Excellent Work</h3> -->
                    <blockquote class="opacity-05 px-md-5">
                      <h4>“{{ object.testimonial }}”</h4>
                    </blockquote>
                    <h5 class="mb-0">{{ object.name }}</h5>
                    <p class="mb-0">{{ object.designation }} </p>
                </div><!-- /.carousel-item col-xs-12 -->

              </div><!-- /.carousel-items row -->

            </div><!-- /.carousel-container -->

          </div><!-- /.lqd-column-inner -->

        </div><!-- /.lqd-column col-md-12 -->

        <div class="lqd-column col-md-12 text-center">



        </div><!-- /.col-md-12 text-center -->

      </div><!-- /.row -->

    </div><!-- /.container -->

  </section>
<!-- ***** Testimonials end ***** -->
  <!--  ***** Reach us start *****-->
  <section class="vc_row fullheight d-flex flex-wrap align-items-center bg-white py-5">

<!--    <div class="lqd-particles-bg-wrap">-->

<!--      <div class="ld-particles-container">-->
<!--        <div-->
<!--          class="ld-particles-inner"-->
<!--          id="ld-particles-7"-->
<!--          data-particles="true"-->
<!--          data-particles-options='{"particles":{"number":{"value":2,"density":1},"color":{"value":["#fcdcd5","#e8e2be"]},"shape":{"type":["circle"]},"size":{"value":450},"move":{"enable":true,"direction":"top","speed":2,"random":true,"out_mode":"out"}},"interactivity":[]}'>-->
<!--        </div>&lt;!&ndash; /.ld-particles-inner &ndash;&gt;-->
<!--      </div>&lt;!&ndash; /.ld-particles-container &ndash;&gt;-->

<!--    </div>&lt;!&ndash; /.lqd-particles-bg-wrap &ndash;&gt;-->

    <div class="container">
      <div class="row d-flex flex-wrap align-items-center">

        <div class="lqd-column col-lg-5 col-md-6 lqd-column" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":1200,"delay":100,"initValues":{"translateY":51,"opacity":0},"animations":{"translateY":0,"opacity":1}}' >

          <div class="ld-fancy-heading">
            <h1 data-text-rotator="true">
									<span class="ld-fh-txt"> Elite
										<span class="txt-rotate-keywords">
											<span class="keyword active text-primary">smart</span>
											<span class="keyword text-secondary">elegant</span>
											<span class="keyword text-arapawa" style="color: #bba07a !important;">classic</span>
                      <span class="keyword text-arapawa" style="color: #d4a9af !important;">urban</span>
                      <span class="keyword text-arapawa" style="color: #c7f7ea !important;">pure</span>
                      <span class="keyword text-arapawa" style="color: #9ba1af !important;">retro</span>
                      <span class="keyword text-tertiary">Kuche</span>
										</span>
									</span>
            </h1>
          </div><!-- /.ld-fancy-heading -->

          <div class="ld-fancy-heading mask-text mb-75">
            <p
              data-split-text="true"
              data-custom-animations="true"
              data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":1200,"delay":100,"easing":"easeOutQuint","direction":"forward","initValues":{"scale":1},"animations":{"scale":1}}'
              data-split-options='{"type":"lines"}'>
              <span class="ld-fh-txt"> We believe that designing products and services in close partnership with our clients is the only way to have a real impact on their lives.</span>
            </p>
          </div><!-- /.ld-fancy-heading -->

          <div class="row">

            <!-- PUT MODAL POPUP CONTENTS ANYWHERE IN THE PAGE -->
            <div id="modal-1" class="lqd-modal lity-hide">
              <div class="lqd-modal-inner">

                <div class="lqd-modal-head"></div><!-- /.lqd-modal-head -->

                <div class="lqd-modal-content">

                  <div class="row">

                    <div class="lqd-column col-md-12 px-4 pt-45 pb-30">

                      <div class="row d-flex flex-wrap align-items-center">

                        <div class="lqd-column col-md-6 col-md-offset-1">

                          <header class="fancy-title">
                            <h2>Request a Catalogue</h2>
                            <p>We are here to answer any question you may have</p>
                          </header><!-- /.fancy-title -->

                        </div><!-- /.lqd-column col-md-6 col-md-offset-1 -->

                        <div class="lqd-column col-md-4 hidden-sm hidden-xs text-right">

                          <div class="iconbox text-right iconbox-xl" data-animate-icon="true" data-plugin-options='{"resetOnHover":true,"color":"rgb(216, 219, 226)","hoverColor":"rgb(0, 0, 0)"}'>
                            <div class="iconbox-icon-wrap">
																<span class="iconbox-icon-container">
																	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="1,30 63,1 23,41" /> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="34,63 63,1 23,41" /> </svg>
																</span>
                            </div><!-- /.iconbox-icon-wrap -->
                          </div><!-- /.iconbox -->
                        </div><!-- /.lqd-column col-md-4 hidden-sm hidden-xs -->

                      </div><!-- /.row -->

                      <div class="row">

                        <div class="lqd-column col-md-10 col-md-offset-1">

                          <div class="contact-form contact-form-inputs-underlined contact-form-button-circle">
                            <form action="assets/php/mailer.php" method="post" novalidate="novalidate">
                              <div class="row d-flex flex-wrap">
                                <div class="lqd-column col-md-6 mb-20">
                                  <input class="lh-25 mb-30" type="text" name="name" aria-required="true" aria-invalid="false" placeholder="Full Name" required>
                                  <input class="lh-25 mb-30" type="email" name="email" aria-required="true" aria-invalid="false" placeholder="Your email address" required>
                                  <input class="lh-25 mb-30" type="tel" name="mobile" aria-required="true" aria-invalid="false" placeholder="Mobile no" required>
                                </div><!-- /.col-md-6 -->

                                <div class="lqd-column col-md-6">
                                  <p class="font-size-16 opacity-07"><em>We all know how important your information is. They are always safe with us.</em></p>
                                </div><!-- /.col-md-6 -->
                                <div class="lqd-column col-md-6 text-md-right">
                                  <input type="submit" value="Send message" class="font-size-13 ltr-sp-1 font-weight-bold">
                                </div><!-- /.col-md-6 -->
                              </div><!-- /.row -->
                            </form>
                            <div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
                          </div><!-- /.contact-form -->

                        </div><!-- /.col-md-10 col-md-offset-1 -->

                      </div><!-- /.row -->

                    </div><!-- /.lqd-column col-md-12 -->

                  </div><!-- /.row -->

                </div><!-- /.lqd-modal-content -->

                <div class="lqd-modal-foot"></div><!-- /.lqd-modal-foot -->

              </div><!-- /.lqd-modal-inner -->
            </div><!-- /.lqd-modal -->

            <!-- PUT MODAL POPUP CONTENTS ANYWHERE IN THE PAGE -->
            <div id="modal-2" class="lqd-modal lity-hide">
              <div class="lqd-modal-inner">

                <div class="lqd-modal-head"></div><!-- /.lqd-modal-head -->

                <div class="lqd-modal-content">

                  <div class="row">

                    <div class="lqd-column col-md-12 px-4 pt-45 pb-30">

                      <div class="row d-flex flex-wrap align-items-center">

                        <div class="lqd-column col-md-6 col-md-offset-1">

                          <header class="fancy-title">
                            <h2>Subscribe to our Newsletter</h2>
                            <p>Why refuse something that's free?</p>
                          </header><!-- /.fancy-title -->

                        </div><!-- /.lqd-column col-md-6 col-md-offset-1 -->

                        <div class="lqd-column col-md-4 hidden-sm hidden-xs text-right">

                          <div class="iconbox text-right iconbox-xl" data-animate-icon="true" data-plugin-options='{"resetOnHover":true,"color":"rgb(216, 219, 226)","hoverColor":"rgb(0, 0, 0)"}'>
                            <div class="iconbox-icon-wrap">
																<span class="iconbox-icon-container">
																	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="1,30 63,1 23,41" /> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="34,63 63,1 23,41" /> </svg>
																</span>
                            </div><!-- /.iconbox-icon-wrap -->
                          </div><!-- /.iconbox -->
                        </div><!-- /.lqd-column col-md-4 hidden-sm hidden-xs -->

                      </div><!-- /.row -->

                      <div class="row">

                        <div class="lqd-column col-md-10 col-md-offset-1">

                          <div class="contact-form contact-form-inputs-underlined contact-form-button-circle">
                            <form action="assets/php/mailer.php" method="post" novalidate="novalidate">
                              <div class="row d-flex flex-wrap">
                                <div class="lqd-column col-md-6 mb-20">

                                  <input class="lh-25 mb-30" type="email" name="email" aria-required="true" aria-invalid="false" placeholder="Your email address" required>

                                </div><!-- /.col-md-6 -->

                                <div class="lqd-column col-md-6">
                                  <p class="font-size-16 opacity-07"><em>We all know how important your information is. They are always safe with us.</em></p>
                                </div><!-- /.col-md-6 -->
                                <div class="lqd-column col-md-6 text-md-right">
                                  <input type="submit" value="Send message" class="font-size-13 ltr-sp-1 font-weight-bold">
                                </div><!-- /.col-md-6 -->
                              </div><!-- /.row -->
                            </form>
                            <div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
                          </div><!-- /.contact-form -->

                        </div><!-- /.col-md-10 col-md-offset-1 -->

                      </div><!-- /.row -->

                    </div><!-- /.lqd-column col-md-12 -->

                  </div><!-- /.row -->

                </div><!-- /.lqd-modal-content -->

                <div class="lqd-modal-foot"></div><!-- /.lqd-modal-foot -->

              </div><!-- /.lqd-modal-inner -->
            </div><!-- /.lqd-modal -->


          </div><!-- /.row -->

        </div><!-- /.col-lg-5 col-md-6 -->



      </div><!-- /.row -->
    </div><!-- /.container -->

    <app-footer></app-footer>

  </section>
  <!-- ***** Reach us end ***** -->

</main><!-- /#content.content -->

