<main class="content" id="content" >
  <section class="vc_row pt-50 pb-65" style="padding-left:12%;">
    <div class="container">
      <div class="row">

        <div class="lqd-column col-lg-8 col-md-6">

          <figure class="stretch-to-left" data-parallax="true" data-parallax-from='{"translateY":89}' data-parallax-to='{"translateY":-100}' data-parallax-options='{"overflowHidden":false,"easing":"linear"}'>
            <img src="./assets/demo/misc/parallax-img-3.jpg" alt="Parallax Image">
          </figure>

        </div><!-- /.col-lg-8 col-md-6 -->

        <div
          class="lqd-column col-lg-4 col-md-6 pt-7"
          data-custom-animations="true"
          data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","startDelay":"350","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":28,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
        >

          <header class="fancy-title mb-100">

            <h2 class="mb-90 pull-to-left" data-fittext="true" data-fittext-options='{ "compressor": 0.5, "maxFontSize": 65, "minFontSize": 35 }'>
              <span class="font-size-1x">How We Work</span>
            </h2>
            <h6 class="font-size-24 font-weight-normal pr-5" data-split-text="true" data-split-options='{"type":"lines"}'>
              <i>“Our mission is to produce the highest quality work for every client, on every project”</i>
            </h6>

          </header><!-- /.fancy-title -->

          <a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase fresco btn-icon-left btn-icon-xlg btn-icon-circle btn-icon-solid font-size-14 font-weight-bold ltr-sp-1 text-dark text-hover-primary">
            <span>
              <span class="btn-txt">See how We Work</span>
              <span class="btn-icon font-size-20 bg-secondary"><i class="fa fa-play"></i></span>
            </span>
          </a>

        </div><!-- /.col-lg-4 col-md-6 -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <app-timeline></app-timeline>
  <app-footer></app-footer>
</main>
