

<div id="wrap">
  <header class="main-header header-side header-side-style-1">

    <div class="mainbar-wrap">

      <div class="container mainbar-container">

        <div class="mainbar">

          <div class="row mainbar-row">

            <div class="col-lg-12">

              <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="bars">
											<span class="bar"></span>
											<span class="bar"></span>
											<span class="bar"></span>
										</span>
                </button>
                <a class="navbar-brand" href="">
										<span class="navbar-brand-inner">
											<img class="logo-default" src="assets/img/logo/eliteLogo.png" alt="Logo" style="height: 70px;">
										</span><!-- /.navbar-brand-inner -->
                </a>

              </div><!-- /.navbar-header -->

            </div><!-- /.col -->

            <div class="col-lg-12">

              <div class="header-module">

                <button class="nav-trigger main-nav-trigger style-1 fill-solid rotate-90 collapsed" data-changeclassnames='{ "html": "side-nav-showing" }' role="button" type="button" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" aria-controls="main-header-collapse">
										<span class="bars">
											<span class="bar"></span>
											<span class="bar"></span>
											<span class="bar"></span>
										</span>
                </button>

              </div><!-- /.header-module -->

              <div class="collapse navbar-collapse" id="main-header-collapse">

                <ul class="main-nav main-nav-side main-nav-side-style-1 nav" data-submenu-options='{ "toggleType": "slide", "handler": "click" }'>
                  <li id="home">
                    <a routerLink="" routerLinkActive="current-menu-item">
                      <span class="link-icon"></span>
                      <span class="link-txt">
													<span class="link-ext"></span><!-- / link's underline, etc. -->
													<span class="txt">Home</span>
											</span>
                    </a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#">
                      <span class="link-icon"></span>
                      <span class="link-txt">
													<span class="link-ext"></span><!-- / link's underline, etc. -->
													<span class="txt">Home space</span>
												</span>
                    </a>
                    <ul class="nav-item-children main-nav-hover-underline-1">
                      <li>
                        <a href="/kitchens">
                          <span class="link-icon"></span>
                          <span class="link-txt">
															Kitchen
															<span class="link-ext"></span>
														</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="link-icon"></span>
                          <span class="link-txt">
															Wardrobe
															<span class="link-ext"></span>
														</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="link-icon"></span>
                          <span class="link-txt">
															Bedroom
															<span class="link-ext"></span>
														</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="link-icon"></span>
                          <span class="link-txt">
															Accessories
															<span class="link-ext"></span>
														</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a routerLink="/designers-desk" routerLinkActive="current-menu-item">
                      <span class="link-icon"></span>
                      <span class="link-txt">
													<span class="link-ext"></span><!-- / link's underline, etc. -->
													<span class="txt">Designer's desk</span>
												</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="link-icon"></span>
                      <span class="link-txt">
													<span class="link-ext"></span><!-- / link's underline, etc. -->
													<span class="txt">Showcase</span>
												</span>
                    </a>
                  </li>
<!--                  <li class="menu-item-has-children">-->
<!--                    <a href="#">-->
<!--                      <span class="link-icon"></span>-->
<!--                      <span class="link-txt">-->
<!--													<span class="link-ext"></span>&lt;!&ndash; / link's underline, etc. &ndash;&gt;-->
<!--													<span class="txt">About</span>-->
<!--												</span>-->
<!--                    </a>-->
<!--                    <ul class="nav-item-children main-nav-hover-underline-1">-->
<!--                      <li class="menu-item-has-children">-->
<!--                        <a href="#">-->
<!--                          <span class="link-icon"></span>-->
<!--                          <span class="link-txt">-->
<!--															Link 1-->
<!--															<span class="link-ext"></span>-->
<!--														</span>-->
<!--                        </a>-->
<!--                        <ul class="nav-item-children main-nav-hover-underline-1">-->
<!--                          <li>-->
<!--                            <a href="#">-->
<!--                              <span class="link-icon"></span>-->
<!--                              <span class="link-txt">-->
<!--																	Link 1-->
<!--																	<span class="link-ext"></span>-->
<!--																</span>-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <a href="#">-->
<!--                              <span class="link-icon"></span>-->
<!--                              <span class="link-txt">-->
<!--																	Link 2-->
<!--																	<span class="link-ext"></span>-->
<!--																</span>-->
<!--                            </a>-->
<!--                          </li>-->
<!--                          <li>-->
<!--                            <a href="#">-->
<!--                              <span class="link-icon"></span>-->
<!--                              <span class="link-txt">-->
<!--																	Link 3-->
<!--																	<span class="link-ext"></span>-->
<!--																</span>-->
<!--                            </a>-->
<!--                          </li>-->
<!--                        </ul>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a href="#">-->
<!--                          <span class="link-icon"></span>-->
<!--                          <span class="link-txt">-->
<!--															Link 2-->
<!--															<span class="link-ext"></span>-->
<!--														</span>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a href="#">-->
<!--                          <span class="link-icon"></span>-->
<!--                          <span class="link-txt">-->
<!--															Link 3-->
<!--															<span class="link-ext"></span>-->
<!--														</span>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </li>-->

                  <li>
                    <a routerLink="/contact" routerLinkActive="current-menu-item">
                      <span class="link-icon"></span>
                      <span class="link-txt">
													<span class="link-ext"></span><!-- / link's underline, etc. -->
													<span class="txt">Contact Us</span>
												</span>
                    </a>
                  </li>
                </ul>

              </div>

            </div><!-- /.col -->

            <div class="col-lg-12">

              <div class="header-module">

                <ul class="social-icon vertical">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>

              </div><!-- /.header-module -->

            </div><!-- /.col -->

          </div><!-- /.row mainbar-row -->

        </div><!-- /.mainbar -->

      </div><!-- /.container -->

    </div><!-- /.mainbar-wrap -->

  </header><!-- /.main-header -->

  <router-outlet></router-outlet>
</div><!-- /#wrap -->
