<div class="lqd-column col-md-6 col-md-offset-3">

  <div class="carousel-container carousel-vertical-3d">

    <div class="carousel-items">

      <div class="carousel-item">

        <div class="iconbox iconbox-side iconbox-round iconbox-shadow iconbox-heading-sm iconbox-filled iconbox-filled iconbox-filled-hover iconbox-has-fill-element" id="iconbox-carousel-1" data-animate-icon="true" data-plugin-options='{"color":"rgb(131, 11, 176):rgb(186, 0, 255)","hoverColor":"#fff"}'>
          <span class="iconbox-fill-el iconbox-fill-el-hover bg-gradient-secondary-br"></span>
          <div class="iconbox-icon-wrap">
												<span class="iconbox-icon-container">
													<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
														<path stroke-width="2" stroke-miterlimit="10" d="M5,41L11,1L53,1L59,41" style="stroke-dasharray: 123, 125; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M21,41c0,6.075,4.925,11,11,11s11-4.925,11-11h16v22 H5V41H21z" style="stroke-dasharray: 165, 167; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M12,31L52,31" style="stroke-dasharray: 40, 42; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M14,21L50,21" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M16,11L48,11" style="stroke-dasharray: 32, 34; stroke-dashoffset: 0;"></path>
													</svg>
												</span>
          </div><!-- /.iconbox-icon-wrap -->
          <div class="contents">
            <h3 class="font-weight-semibold">One Collection</h3>
            <p>Carefully crafted section templates help you to speed up your design process. Import a pre-built section and change the content.</p>
          </div><!-- /.contents -->
        </div><!-- /.iconbox -->

      </div><!-- /.carousel-item -->

      <div class="carousel-item">

        <div class="iconbox iconbox-side iconbox-round iconbox-shadow iconbox-heading-sm iconbox-filled iconbox-filled iconbox-filled-hover iconbox-has-fill-element" id="iconbox-carousel-2" data-animate-icon="true" data-plugin-options='{"color":"rgb(131, 11, 176):rgb(186, 0, 255)","hoverColor":"#fff"}'>
          <span class="iconbox-fill-el iconbox-fill-el-hover bg-gradient-secondary-br"></span>
          <div class="iconbox-icon-wrap">
												<span class="iconbox-icon-container">
													<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
														<path stroke-width="2" stroke-miterlimit="10" d="M5,41L11,1L53,1L59,41" style="stroke-dasharray: 123, 125; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M21,41c0,6.075,4.925,11,11,11s11-4.925,11-11h16v22 H5V41H21z" style="stroke-dasharray: 165, 167; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M12,31L52,31" style="stroke-dasharray: 40, 42; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M14,21L50,21" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M16,11L48,11" style="stroke-dasharray: 32, 34; stroke-dashoffset: 0;"></path>
													</svg>
												</span>
          </div><!-- /.iconbox-icon-wrap -->
          <div class="contents">
            <h3 class="font-weight-semibold">Two Collection</h3>
            <p>Carefully crafted section templates help you to speed up your design process. Import a pre-built section and change the content.</p>
          </div><!-- /.contents -->
        </div><!-- /.iconbox -->

      </div><!-- /.carousel-item -->

      <div class="carousel-item">

        <div class="iconbox iconbox-side iconbox-round iconbox-shadow iconbox-heading-sm iconbox-filled iconbox-filled iconbox-filled-hover iconbox-has-fill-element" id="iconbox-carousel-3" data-animate-icon="true" data-plugin-options='{"color":"rgb(131, 11, 176):rgb(186, 0, 255)","hoverColor":"#fff"}'>
          <span class="iconbox-fill-el iconbox-fill-el-hover bg-gradient-secondary-br"></span>
          <div class="iconbox-icon-wrap">
												<span class="iconbox-icon-container">
													<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
														<path stroke-width="2" stroke-miterlimit="10" d="M5,41L11,1L53,1L59,41" style="stroke-dasharray: 123, 125; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M21,41c0,6.075,4.925,11,11,11s11-4.925,11-11h16v22 H5V41H21z" style="stroke-dasharray: 165, 167; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M12,31L52,31" style="stroke-dasharray: 40, 42; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M14,21L50,21" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M16,11L48,11" style="stroke-dasharray: 32, 34; stroke-dashoffset: 0;"></path>
													</svg>
												</span>
          </div><!-- /.iconbox-icon-wrap -->
          <div class="contents">
            <h3 class="font-weight-semibold">Three Collection</h3>
            <p>Carefully crafted section templates help you to speed up your design process. Import a pre-built section and change the content.</p>
          </div><!-- /.contents -->
        </div><!-- /.iconbox -->

      </div><!-- /.carousel-item -->

      <div class="carousel-item">

        <div class="iconbox iconbox-side iconbox-round iconbox-shadow iconbox-heading-sm iconbox-filled iconbox-filled iconbox-filled-hover iconbox-has-fill-element" id="iconbox-carousel-4" data-animate-icon="true" data-plugin-options='{"color":"rgb(131, 11, 176):rgb(186, 0, 255)","hoverColor":"#fff"}'>
          <span class="iconbox-fill-el iconbox-fill-el-hover bg-gradient-secondary-br"></span>
          <div class="iconbox-icon-wrap">
												<span class="iconbox-icon-container">
													<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
														<path stroke-width="2" stroke-miterlimit="10" d="M5,41L11,1L53,1L59,41" style="stroke-dasharray: 123, 125; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M21,41c0,6.075,4.925,11,11,11s11-4.925,11-11h16v22 H5V41H21z" style="stroke-dasharray: 165, 167; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M12,31L52,31" style="stroke-dasharray: 40, 42; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M14,21L50,21" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path> <path stroke-width="2" stroke-miterlimit="10" d="M16,11L48,11" style="stroke-dasharray: 32, 34; stroke-dashoffset: 0;"></path>
													</svg>
												</span>
          </div><!-- /.iconbox-icon-wrap -->
          <div class="contents">
            <h3 class="font-weight-semibold">Four Collection</h3>
            <p>Carefully crafted section templates help you to speed up your design process. Import a pre-built section and change the content.</p>
          </div><!-- /.contents -->
        </div><!-- /.iconbox -->

      </div><!-- /.carousel-item -->

    </div><!-- /.carousel-items -->

  </div><!-- /.carousel-container -->

</div><!-- /.lqd-column col-md-6 col-md-offset-3 -->

