<section class="vc_row pt-40 pb-40">
  <div class="container">
    <div class="row">

      <div class="lqd-column col-md-12 text-center">

        <h2
              class="mb-5 font-weight-normal lh-1"
              data-fittext="true"
              data-fittext-options='{ "compressor": 0.6, "maxFontSize": 72, "minFontSize": 48 }'
              data-split-text="true"
              data-split-options='{"type":"lines"}'
        >
        Showcase
        </h2>

      </div><!-- /.lqd-column col-md-12 -->

      <div class="lqd-column col-md-12">

        <div
        class="ld-media-row row d-flex"
        data-liquid-masonry="true"
        data-custom-animations="true"
        data-ca-options='{"triggerHandler":"inview","animationTarget":".ld-media-item","duration":700,"delay":100,"easing":"easeOutQuint","initValues":{"scale":1},"animations":{"scale":1}}'>

          <div *ngFor="let image of assetImages" class="lqd-column col-md-4 col-sm-6 masonry-item">
            <div class="ld-media-item">
              <figure data-responsive-bg="true">
                <img class="invisible" src="./assets/img/showcase/{{image}}" alt="Media Gallery">
              </figure>
              <div class="ld-media-item-overlay d-flex flex-column align-items-center text-center justify-content-center">
                <div class="ld-media-bg"></div>
                <div class="ld-media-content">
                  <span class="ld-media-icon">
                    <span class="ld-media-icon-inner">
                      <i class="icon-ion-ios-add"></i>
                    </span>
                  </span>
                </div><!-- /.ld-media-content -->
              </div><!-- /.ld-media-item-overlay -->
              <a href="./assets/img/showcase/{{image}}" class="liquid-overlay-link fresco" data-fresco-group="media-group-3"></a>
            </div><!-- /.ld-media-item -->
          </div><!-- /.col-md-4 -->

        </div><!-- /.ld-media-row -->

      </div><!-- /.lqd-column col-md-12 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
