
<div class="container">
<div class="timeline">
  <div class="step">
    <h3 class="h3">Meet the designer</h3>
    <p>Just Get started by making a call or filling the form below to request a meeting, and <b>get a free consultation.</b>
      <br>
      At our first meeting at your home, we assign you designer. Your personal designer will discuss with your exact kitchen requirements and suggests what type of kitchen best suits your home.
    </p>
    <a href="/contact#enquiryForm" class="btn btn-default text-uppercase btn-sm circle btn-bordered border-thin font-size-12 lh-15 font-weight-bold ltr-sp-05 mb-2">
      <span>
        <span class="btn-txt">Write to us</span>
      </span>
    </a>
  </div>
  <div class="step">
    <h3 class="h3">Measurement and planning</h3>
    <p>Soon on his visit at your place, we will be taking accurate measurements, precise in millimeters. Attention to details is our priority!
      <br>
      The designer then tries to learn about all your requirements, use cases, budget, etc. We then start brainstorming about what can be the best design for you.
    </p>
  </div>
  <div class="step">
    <h3 class="h3">Customized design</h3>
    <p>
      Our Designing team will Shared multiple design concepts created especially for you. We’ll include furniture recommendations, theme, color palette, space plan and a price quote. Loved our ideas? Book us!
    </p>
  </div>
  <div class="step">
    <h3 class="h3">Design finalization</h3>
    <p>
      As we design and try to bring in all our team'S creativity, you will be consulted and discussed with, about eveything that's happening on our end. This phase then leads to creation of the final customized design and implementation plan.
    </p>
  </div>
  <div class="step">
    <h3 class="h3">Implementation</h3>
    <p>
      After you finalize and approve our plans and designs, we put them into implementation. We join all the pieces together precisely. The best of quality is ensured with checks at every step.
    </p>
  </div>
  <div class="step">
    <h3 class="h3">Installed by experts</h3>
    <p>
      We believe in speedy and perfect installation. Therefore we provide a team of installation experts who are headed by your designer and ensure that installation run smoothly.
    </p>
  </div>


</div>
